<div class="w-full max-w-xl bg-base-100">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Old Password -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">{{ "field.oldPassword" | translate }}</span>
      </div>
      <input
        type="password"
        class="input input-bordered w-full"
        formControlName="oldPassword"
        name="oldPassword"
        [placeholder]="'placeholder.oldPassword' | translate"
      />
      <app-form-error-message
        [control]="oldPasswordCtrl"
        [fieldName]="'field.oldPassword' | translate"
      ></app-form-error-message>
    </label>
    <!-- New Password -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">{{ "field.newPassword" | translate }}</span>
      </div>
      <input
        type="password"
        class="input input-bordered w-full"
        formControlName="newPassword"
        name="newPassword"
        [placeholder]="'placeholder.newPassword' | translate"
      />
      <app-form-error-message
        *ngIf="!( form.errors?.['passwordShouldNotMatch'] &&
      newPasswordCtrl.valid && oldPasswordCtrl.valid)"
        [control]="newPasswordCtrl"
        [fieldName]="'field.newPassword' | translate"
      ></app-form-error-message>
    </label>
    <div
      class="label"
      *ngIf="
        form.errors?.['passwordShouldNotMatch'] &&
        newPasswordCtrl.valid && oldPasswordCtrl.valid
      "
    >
      <span class="label-text-alt text-red-500 ml-1">
        {{ "validator.passwordShouldNotMatch" | translate }}</span
      >
    </div>

    <!-- Confirm password -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">{{
          "field.confirmPassword" | translate
        }}</span>
      </div>
      <input
        type="password"
        class="input input-bordered w-full"
        formControlName="confirmPassword"
        name="confirmPassword"
        [placeholder]="'placeholder.confirmPassword' | translate"
      />

      <app-form-error-message
        *ngIf="!(form.errors?.['passwordMismatch'] &&
      newPasswordCtrl.valid && confirmPasswordCtrl.valid)"
        [control]="confirmPasswordCtrl"
        [fieldName]="'field.confirmPassword' | translate"
      ></app-form-error-message>
    </label>
    <div
      *ngIf="
      form.errors?.['passwordMismatch'] &&
      newPasswordCtrl.valid && confirmPasswordCtrl.valid
    "
    >
      <span class="label-text-alt text-red-500 ml-1">{{
        "validator.passwordMismatch" | translate
      }}</span>
    </div>
    <app-async-button
      [class]="'btn btn-primary uppercase mt-4 w-full'"
      [disabled]="form.invalid"
      [type]="'submit'"
      [loading]="loading"
    >
      {{ "button.changePassword" | translate }}
    </app-async-button>
  </form>
</div>
