<ul class="menu menu-horizontal bg-base-200 rounded-box text-base">
  <li>
    <a
      routerLink="/map"
      [class.active]="router.url === '/' || router.url === '/map'"
    >
      <i class="fa-solid fa-map-location-dot"></i>
      <span>{{ "common.map" | translate }}</span>
    </a>
  </li>
  <li>
    <a routerLink="/user" [class.active]="router.url.startsWith('/user')">
      <i class="fa-solid fa-users"></i>
      <span>{{ "common.users" | translate }}</span>
    </a>
  </li>
  <li>
    <a
      routerLink="/profile/settings"
      [class.active]="router.url.startsWith('/profile')"
    >
      <i class="fa-solid fa-gear"></i>
      <span>{{ "common.settings" | translate }}</span>
    </a>
  </li>
</ul>
