<div class="w-96">
  <label class="input input-bordered flex items-center gap-2 w-full">
    <input
      type="text"
      class="grow"
      [placeholder]="'common.search' | translate"
      [formControl]="searchKey"
      (focus)="onShowLocation()"
      (keyup.enter)="handleSearchLocationWithFirstOption()"
    />
    <div class="flex gap-1">
      <button
        *ngIf="isSearchView"
        class="btn-ghost btn btn-sm btn-circle"
        (click)="onCancelSearchView()"
      >
        <i class="fa-solid fa-xmark opacity-70 text-base"></i>
      </button>
      <button
        class="btn-ghost btn btn-sm btn-circle"
        (click)="handleSearchLocationWithFirstOption()"
      >
        <i class="fa-solid fa-magnifying-glass text-base opacity-70"></i>
      </button>
    </div>
  </label>
  <ul
    *ngIf="locations.length > 0 && isShowLocation"
    class="menu bg-base-200 absolute right-0 top-full translate-y-2 w-96 rounded-box"
  >
    <li *ngFor="let location of locations">
      <a
        (click)="searchLocation(location.lat, location.lng, location.name)"
        [class.active]="currentLocation?.name === location.name"
      >
        <div>
          <span
            ><i
              class="fa-solid fa-location-dot mr-4"
              *ngIf="!isSearchRecently(location)"
            ></i
          ></span>
          <span
            ><i
              class="fa-regular fa-clock mr-4"
              *ngIf="isSearchRecently(location)"
            ></i
          ></span>
          <span class="text-base leading-loose">{{ location.name }}</span>
        </div>
      </a>
    </li>
  </ul>
  <ul
    *ngIf="
      locations.length == 0 && lastSearchLocation.length > 0 && isShowLocation
    "
    class="menu bg-base-200 absolute right-0 top-full translate-y-2 w-96 rounded-box"
  >
    <li *ngFor="let location of lastSearchLocation">
      <a (click)="searchLocation(location.lat, location.lng, location.name)">
        <div>
          <span><i class="fa-regular fa-clock mr-4"></i></span>
          <span class="text-base leading-loose">{{ location.name }}</span>
        </div>
      </a>
    </li>
  </ul>
</div>
