<div class="flex justify-center items-center h-full w-full">
  <div class="card w-full max-w-lg bg-base-100 shadow-xl p-8">
    <h2 class="card-title mb-5 text-3xl uppercase">
      {{ "auth.reset_password" | translate }}
    </h2>
    <div *ngIf="!canResetPassword">
      <div class="w-full flex flex-col items-center gap-4 mt-3">
        <div>
          <span class="label-text text-lg">{{ "field.otp" | translate }}</span>
        </div>
        <div class="flex justify-center">
          <ng-otp-input [formCtrl]="otp" [config]="otpConfig"></ng-otp-input>
        </div>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="canResetPassword">
      <!-- New Password -->
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">{{ "field.newPassword" | translate }}</span>
        </div>
        <input
          type="password"
          class="input input-bordered w-full"
          formControlName="newPassword"
          name="newPassword"
          [placeholder]="'placeholder.newPassword' | translate"
        />
        <app-form-error-message
          [control]="newPasswordCtrl"
          [fieldName]="'field.newPassword' | translate"
        ></app-form-error-message>
      </label>

      <!-- Confirm password -->
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">{{
            "field.confirmPassword" | translate
          }}</span>
        </div>
        <input
          type="password"
          class="input input-bordered w-full"
          formControlName="confirmPassword"
          name="confirmPassword"
          [placeholder]="'placeholder.confirmPassword' | translate"
        />

        <app-form-error-message
          *ngIf="!(form.errors?.['passwordMismatch'] &&
        newPasswordCtrl.valid && confirmPasswordCtrl.valid)"
          [control]="confirmPasswordCtrl"
          [fieldName]="'field.confirmPassword' | translate"
        ></app-form-error-message>
      </label>
      <div
        *ngIf="
        form.errors?.['passwordMismatch'] &&
        newPasswordCtrl.valid && confirmPasswordCtrl.valid
      "
      >
        <span class="label-text-alt text-red-500 ml-1">{{
          "validator.passwordMismatch" | translate
        }}</span>
      </div>
      <app-async-button
        [class]="'btn btn-primary uppercase mt-4 w-full'"
        [disabled]="form.invalid"
        [type]="'submit'"
        [loading]="loading"
      >
        {{ "button.changePassword" | translate }}
      </app-async-button>
    </form>
    <button class="btn btn-primary btn-link btn-lg" (click)="back()">
      {{ "button.back" | translate }}
    </button>
  </div>
</div>
