<footer class="footer p-10 bg-neutral text-neutral-content">
  <nav>
    <h6 class="footer-title">{{ "footer.service" | translate }}</h6>
    <a class="link link-hover" routerLink="/map">Map online</a>
    <a class="link link-hover">{{ "footer.vietnam" | translate }}</a>
    <a class="link link-hover">@2024 Openstreetmap</a>
  </nav>
  <nav>
    <h6 class="footer-title">{{ "footer.about" | translate }}</h6>
    <a class="link link-hover">dangminhtien2024@gmail.com</a>
    <a class="link link-hover" href="https://github.com/Starry-Nightt">
      <i class="fa-brands fa-github text-3xl"></i>
    </a>
  </nav>
  <nav>
    <h6 class="footer-title">{{ "footer.address" | translate }}</h6>
    <a class="link link-hover">{{ "footer.hanoi" | translate }}</a>
  </nav>
</footer>
