<button
  class="btn btn-neutral btn-lg"
  (click)="onResetPassword()"
  *ngIf="currentPage == pages.begin"
>
  {{ "usernav.reset_password" | translate }}
</button>

<ng-container *ngIf="currentPage == pages.otp">
  <p class="text-base font-semibold mb-4">{{ "field.otp" | translate }}</p>
  <ng-otp-input [formCtrl]="otp" [config]="otpConfig"></ng-otp-input>
  <div></div>
  <button class="btn btn-neutral mt-8" (click)="back()">
    {{ "button.back" | translate }}
  </button>
</ng-container>

<ng-container *ngIf="currentPage == pages.reset">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-lg">
    <!-- New Password -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">{{ "field.newPassword" | translate }}</span>
      </div>
      <input
        type="password"
        class="input input-bordered w-full"
        formControlName="newPassword"
        name="newPassword"
        [placeholder]="'placeholder.newPassword' | translate"
      />
      <app-form-error-message
        [control]="newPasswordCtrl"
        [fieldName]="'field.newPassword' | translate"
      ></app-form-error-message>
    </label>

    <!-- Confirm password -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">{{
          "field.confirmPassword" | translate
        }}</span>
      </div>
      <input
        type="password"
        class="input input-bordered w-full"
        formControlName="confirmPassword"
        name="confirmPassword"
        [placeholder]="'placeholder.confirmPassword' | translate"
      />

      <app-form-error-message
        *ngIf="!(form.errors?.['passwordMismatch'] &&
          newPasswordCtrl.valid && confirmPasswordCtrl.valid)"
        [control]="confirmPasswordCtrl"
        [fieldName]="'field.confirmPassword' | translate"
      ></app-form-error-message>
    </label>
    <div
      *ngIf="
          form.errors?.['passwordMismatch'] &&
          newPasswordCtrl.valid && confirmPasswordCtrl.valid
        "
    >
      <span class="label-text-alt text-red-500 ml-1">{{
        "validator.passwordMismatch" | translate
      }}</span>
    </div>
    <app-async-button
      [class]="'btn btn-primary uppercase mt-4 w-full'"
      [disabled]="form.invalid"
      [type]="'submit'"
      [loading]="loading"
    >
      {{ "button.changePassword" | translate }}
    </app-async-button>
  </form>
  <button class="btn btn-neutral mt-8" (click)="back()">
    {{ "button.back" | translate }}
  </button>
</ng-container>
