<div class="navbar bg-neutral py-3 relative">
  <div class="flex-1">
    <a
      class="btn btn-ghost text-xl font-bold lowercase text-neutral-content"
      routerLink="/"
    >
      <span class="mt-1 mr-1">
        <i class="fa-solid fa-globe"></i>
      </span>
      {{ "common.title" | translate }}</a
    >
  </div>
  <div class="flex-none gap-4">
    <app-lang-select></app-lang-select>
    <div class="avatar placeholder cursor-pointer">
      <div
        class="bg-secondary text-secondary-content rounded-full w-10 hover:opacity-70 ease-out duration-300"
        (click)="onViewProfile()"
      >
        <span class="select-none">{{ shortName }}</span>
      </div>
    </div>
  </div>
</div>
