<div class="flex justify-center items-center h-full w-full">
  <div class="card w-full max-w-lg bg-base-100 shadow-xl p-8">
    <h2 class="card-title mb-2 text-3xl uppercase">
      {{ "auth.forget_password" | translate }}
    </h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">{{ "field.email" | translate }}</span>
        </div>
        <input
          type="text"
          [placeholder]="'placeholder.email' | translate"
          class="input input-bordered w-full"
          formControlName="email"
          name="email"
        />
        <app-form-error-message
          [control]="emailCtrl"
          [fieldName]="'field.email' | translate"
        ></app-form-error-message>
      </label>
      <app-async-button
        [class]="'btn btn-primary uppercase mt-4 w-full'"
        [disabled]="form.invalid"
        [type]="'submit'"
        [loading]="loading"
      >
        {{ "auth.reset_password" | translate }}
      </app-async-button>
      <div class="mt-4">
        <a routerLink="/auth/login" class="link-primary hover:underline">
          <i class="fa-solid fa-arrow-left mr-2"></i>
          {{ "button.back" | translate }}</a
        >
      </div>
    </form>
  </div>
</div>
