<div class="h-screen w-full relative" (click)="scrollIntoView()">
  <div class="h-full">
    <div id="map" class="h-full" #map></div>
    <button
      class="btn btn-error absolute bottom-3 left-3 text-base"
      [style]="{ zIndex: 400 }"
      [disabled]="!data.length"
      (click)="onOpenClearLayerModal()"
    >
      {{ "button.clear" | translate }}
    </button>
    <button
      class="btn btn-circle absolute bottom-8 right-3"
      [style]="{ zIndex: 400 }"
      (click)="viewCurrentLocation()"
    >
      <i class="fa-solid fa-location-crosshairs text-2xl"></i>
    </button>
    <div
      class="absolute top-3 right-3 gap-4 flex justify-end"
      [style]="{ zIndex: 400 }"
    >
      <app-map-routing
        #mapRouting
        [latLng]="latLng"
        (selectFrom)="addFromMarker($event)"
        (selectTo)="addToMarker($event)"
        (routingEmitter)="drawRouting($event)"
        (exitRouting)="exitRoutingView()"
      ></app-map-routing>
      <app-map-search-bar
        #mapSearch
        (search)="searchLocation($event)"
        (cancelSearch)="onCancelSearchView()"
      ></app-map-search-bar>
    </div>
  </div>
</div>

<dialog #clearModal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{ "modal.clear.title" | translate }}</h3>
    <p class="py-4">{{ "modal.clear.body" | translate }}</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-error min-w-16 mx-2" (click)="clearLayer()">
          {{ "button.yes" | translate }}
        </button>
        <button class="btn min-w-16 mx-2">
          {{ "button.cancel" | translate }}
        </button>
      </form>
    </div>
  </div>
</dialog>

<dialog #layerInfoModal class="modal">
  <div class="modal-box">
    <figure
      class="mb-4 rounded overflow-hidden h-80 w-full"
      *ngIf="currentLayerInfo?.properties?.body?.image"
    >
      <img
        [src]="currentLayerInfo?.properties?.body?.image"
        alt="img"
        class="object-cover object-center"
      />
    </figure>
    <h3 class="text-lg font-bold">
      {{
        currentLayerInfo?.properties?.body?.title
          ? currentLayerInfo?.properties.body.title
          : ("common.empty" | translate)
      }}
    </h3>
    <p class="py-4">
      {{
        currentLayerInfo?.properties?.body?.description
          ? currentLayerInfo.properties.body.description
          : ("common.empty" | translate)
      }}
    </p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">{{ "button.close" | translate }}</button>
      </form>
    </div>
  </div>
</dialog>

<dialog #layerEditModal class="modal">
  <div class="modal-box">
    <app-map-edit-layer
      *ngIf="currentLayerInfo"
      [layer]="currentLayerInfo"
      (submit)="onUpdateLayer($event)"
      (close)="onCloseLayerEditModal()"
    ></app-map-edit-layer>
  </div>
</dialog>
