<form class="p-5 mt-10 flex gap-5 flex-col" [formGroup]="form">
  <div class="flex justify-between">
    <label class="input input-bordered flex items-center gap-2 w-full max-w-sm">
      <input
        type="text"
        class="grow"
        [placeholder]="'common.search' | translate"
        formControlName="key"
        (keyup.enter)="searchUser()"
      />
      <div class="flex gap-1">
        <button class="btn-ghost btn btn-sm btn-circle" (click)="searchUser()">
          <i class="fa-solid fa-magnifying-glass text-base opacity-70"></i>
        </button>
      </div>
    </label>
    <button class="btn btn-primary text-base" (click)="onCreateUser()">
      {{ "userList.create" | translate }}
    </button>
  </div>
  <div>
    <ngx-datatable
      #table
      class="material striped"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [loadingIndicator]="loadingIndicator"
      [limit]="pageSize"
      [count]="total"
      [externalPaging]="true"
      (page)="setPage($event)"
    >
      <ngx-datatable-column prop="username" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tableHeader">{{ "userList.username" | translate }}</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.username }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="firstName" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{ "userList.firstName" | translate }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="lastName" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{ "userList.lastName" | translate }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="email" [sortable]="false" [minWidth]="400">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{ "userList.email" | translate }}</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <app-text-copy [text]="row.email"></app-text-copy>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="role" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{ "userList.role" | translate }}</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <app-role-badge [forTable]="true" [role]="row.role"></app-role-badge>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{ "userList.action" | translate }}</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-error btn-sm" (click)="onDeleteUser(row)">
            <i class="fa-solid fa-user-slash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</form>

<dialog #deleteAccountModal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-xl text-error">
      {{ "modal.deleteAccount.title" | translate }}
    </h3>
    <p class="py-4">
      {{ "modal.deleteAccount.body" | translate }}
      <b>{{ selectedUser?.email }}</b>
    </p>
    <div class="modal-action">
      <form method="dialog">
        <button
          class="btn btn-error min-w-16 mx-2"
          (click)="deleteUser(selectedUser?.id)"
        >
          {{ "button.yes" | translate }}
        </button>
        <button class="btn min-w-16 mx-2">
          {{ "button.cancel" | translate }}
        </button>
      </form>
    </div>
  </div>
</dialog>
